.swiper {
  width: 100%;
  max-width: 1400px;
  padding-bottom: 40px;
  position: relative;
}
.swiper-slide {
  height: 750px;
}
.movieSlider {
  width: 300px;
  height: 400px;
}
.movieSlider img {
  width: 100%;
  height: 100%;
}
.movieTitle {
  position: absolute;
  top: 95%;
  left: 5%;
  font-size: 26px;
  font-weight: 700;
}
.movieTitle:hover {
  color: aquamarine;
}

@media only screen and (max-width: 600px) {
  .swiper {
    width: 100%;
    max-width: 600px;
    padding-bottom: 45px;
    position: relative;
    margin-bottom: 10px;
  }
  .swiper-slide {
    height: 200px;
  }
  .movieSlider {
    width: 300px;
    height: 400px;
  }
  .movieSlider img {
    width: 100%;
    height: 100%;
  }
  .movieTitle {
    position: absolute;
    top: 94%;
    left: 5%;
    font-size: 15px;
  }
}

@media only screen and (max-width: 350px) {
  .swiper {
    width: 100%;
    max-width: 600px;
    padding-bottom: 45px;
    position: relative;
    margin-bottom: 10px;
  }
  .swiper-slide {
    height: 200px;
  }
  .movieSlider {
    width: 300px;
    height: 400px;
  }
  .movieSlider img {
    width: 100%;
    height: 100%;
  }
  .movieTitle {
    position: absolute;
    top: 75%;
    left: 5%;
    font-size: 13px;
  }
}
